<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "Moje galerie" }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    {% if page.url == "/" %}
      <a href="/"><h1>DIArtLOG</h1></a>
    {% endif %}
    {% if page.url != "/" %}
      <a href="/"><h3>DIArtLOG</h3></a>
    {% endif %}
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
  <p>&copy; 2025</p>
</footer>
<script src="/js/filters.js" defer></script>
</body>
</html>
